button {
    display: block;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border: none;
    cursor: pointer;
    background-color: transparent;
    white-space: nowrap;
}

button:focus-visible {
    outline: 4px dotted var(--color-accent);
}

.button {
    display: block;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border: none;
    cursor: pointer;
    background-color: transparent;
    white-space: nowrap;
    border-radius: var(--radius-lg);
    padding: var(--space-xxs) var(--space-xs);
    transition: all 0.3s;
}

.button-main {
    background-color: var(--color-orange-deep);
    color: var(--color-text-light);
}

.button-main:hover {
    background-color: var(--color-accent);
}

.button-faded {
    background-color: var(--color-lavender);
}

.button-ghost {
    border: 2px solid var(--color-accent);
    background-color: var(--color-lavender);
}

.button-ghost:hover {
    background-color: var(--color-secondary);
}

.button-close {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: var(--radius-circle);
    transition: all 0.3s;
    padding: 8px;
}

.button-close:hover {
    background-color: var(--color-orange-deep);

    * {
        background-color: var(--color-secondary);
    }
}
