.header {
    position: relative;
    width: 100%;
    /* height: var(--header-height); */
    margin-bottom: var(--space-lg);
}

.header__title {
    width: 100%;
    text-align: left;
    font-size: 11vw;
    line-height: 0.7;
    text-transform: uppercase;
    color: var(--color-accent);
    letter-spacing: -3px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .header__title {
        font-size: 6vw;
        letter-spacing: -10px;
        transition: letter-spacing 0.5s ease-in-out;
    }

    .header__title:hover {
        letter-spacing: 80px;
    }
}

.header__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: var(--space-lg) 0;
}
