.header {
    position: relative;
    width: 100%;
}

.header__title {
    width: 100%;
    text-align: left;
    font-size: clamp(2.5rem, 11vw, 6rem);
    line-height: 0.7;
    text-transform: uppercase;
    color: var(--color-accent);
    letter-spacing: -3px;
    font-weight: 400;
    width: fit-content;
}

@media (min-width: 1024px) {
    .header__title {
        letter-spacing: -5px;
        transition: letter-spacing 0.5s ease-in-out;
    }

    .header__title:hover {
        letter-spacing: 80px;
    }
}

.header__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: var(--space-lg) 0;
}

.header__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xxs);
}
