.icon-close {
	position: relative;
	width: 100%;
	aspect-ratio: square;
	background-color: var(--color-primary);
}

.icon-close__line {
	background-color: var(--color-secondary);
	width: 100%;
	height: 1px;
	position: absolute;
}
