.idea-card {
	width: 30rem;
	aspect-ratio: square;
	background-color: var(--color-secondary);
	color: var(--color-text-dark);
	padding: var(--space-sm);
	border-radius: var(--round-corner-sm);
	/* transition: all 1s ease-out; */
	border: solid 2px var(--color-primary);
}

.idea-card__title {
	text-transform: capitalize;
}

.idea-card input {
	font-size: var(--text-md);
}

.idea-card input,
.idea-card textarea {
	color: var(--color-text-dark);
	width: 100%;
}

.idea-card input:valid,
.idea-card textarea:valid {
	border: 1px solid var(--color-transparent);
}

.idea-card__form-section {
	margin-bottom: var(--space-md);
}

.idea-card__buttons {
	width: 100%;
	margin-top: var(--space-xxs);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-sm);
	margin-bottom: var(--space-md);
}

.idea-card__countdown {
	text-align: right;
	margin-top: var(--space-xxs);
}
