body {
    padding: var(--space-md);
    background-color: var(--color-primary);
}

.main {
    width: 100%;
    font-size: var(--text-xs);
}

@media (min-width: 768px) {
    .main {
        font-size: var(--text-sm);
    }
}
