.sort-menu {
	position: relative;
	width: 15rem;
	text-align: left;
}

.sort-menu__trigger {
	width: 100%;
}

.sort-menu__trigger-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sort-menu__list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: var(--color-primary);
	border: 1px solid var(--color-faded-medium);
	border-radius: var(--radius-md);
	display: flex;
	flex-direction: column;
	z-index: 20;
}

.sort-menu__list-item {
	border: none;
	border-radius: var(--radius-md);
	text-align: left;
	padding: var(--space-xs);
	margin: var(--space-xxs);
}

.sort-menu__list-item:hover {
	background-color: var(--color-faded-medium);
}
