.sort-menu {
    position: relative;
    width: 15rem;
    text-align: left;
}

.sort-menu__trigger {
    width: 100%;
    color: var(--color-accent);
}

.sort-menu__trigger-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-menu__list {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
    border: 2px solid var(--color-accent);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.sort-menu__list-item {
    border: none;
    border-radius: var(--radius-lg);
    text-align: left;
    padding: var(--space-xs) var(--space-sm);
    margin: var(--space-xxs);
    color: var(--color-accent);
}

.sort-menu__list-item:hover {
    background-color: var(--color-lavender);
}
