.toast {
    position: absolute;
    top: 100%;
    right: 5%;
    padding: var(--space-xxs) var(--space-xs);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-accent);
    border-radius: var(--radius-lg);
}

.toast__text {
    font-size: var(--text-xs);
    color: var(--color-accent);
}
