.bg-primary {
	background-color: var(--color-primary);
}

.bg-secondary {
	background-color: var(--color-secondary);
}

.bg-tertiary {
	background-color: var(--color-tertiary);
}

.bg-faded-light {
	background-color: var(--color-faded-light);
}

.hidden {
	visibility: hidden;
}

.highlight {
	border: dotted 2px darkblue;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}

.pointer-events-none {
	pointer-events: none;
}

.rotate-45 {
	transform: rotate(45deg);
}

.-rotate-45 {
	transform: rotate(-45deg);
}

.text-left {
	text-align: left;
}
