.bg-primary {
	background-color: var(--color-primary);
}

.bg-secondary {
	background-color: var(--color-secondary);
}

.bg-tertiary {
	background-color: var(--color-tertiary);
}

.bg-faded-light {
	background-color: var(--color-faded-light);
}

.bg-faded-medium {
	background-color: var(--color-faded-medium);
}

.bg-faded-dark {
	background-color: var(--color-faded-dark);
}

.color-danger {
	color: var(--color-danger) !important;
}

.hidden {
	visibility: hidden;
}

.highlight {
	outline: dotted 3px var(--color-tertiary);
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}

.pointer-events-none {
	pointer-events: none;
}

.rotate-45 {
	transform: rotate(45deg);
}

.-rotate-45 {
	transform: rotate(-45deg);
}

.rotate-180 {
	transform: rotate(180deg);
}

.text-left {
	text-align: left;
}

.text-primary {
	color: var(--color-primary);
}

.text-secondary {
	color: var(--color-secondary);
}

.text-tertiary {
	color: var(--color-tertiary);
}

.text-faded-medium {
	color: var(--color-faded-medium);
}

.transform-200 {
	transition: transform 0.2s ease-in-out;
}

.transform-300 {
	transition: transform 0.3s ease-in-out;
}
