.hidden {
	display: none;
}

.highlight {
	border: dotted 2px darkblue;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}

.rotate-45 {
	transform: rotate(45deg);
}

.-rotate-45 {
	transform: rotate(-45deg);
}

.text-left {
	text-align: left;
}
